/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura da tela inteira */
}

/* Centraliza o conteúdo */
.container {
    text-align: center;
}

/* Estilização da logo */
.logo {
    width: 100px; /* Tamanho da logo */
    margin-bottom: 20px;
}

/* Estilização do título */
h1 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 30px; /* Espaço entre título e botão */
}

/* Botão no padrão da tela de login */
.btn {
    width: 100%;
    max-width: 200px; /* Largura máxima do botão */
    padding: 10px 20px;
    background-color: #28a745; /* Cor verde */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Alteração no botão ao passar o mouse */
.btn:hover {
    background-color: #218838;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}
